{%- set_global file_lang_path = "" -%}
<!DOCTYPE html>
<html lang="en">
<a href="{{ config.base_url | safe }}">HOME</a>
<a href="{{ config.extra.repo_url | safe }}">ALL</a>
<a href="{{ config.extra.repo_test_url | safe }}">ALLTEST</a>

<link rel="stylesheet" href="{{ get_url(path="global.css") | safe }}">   
<!-- <href="{{ get_url(path="resource_all.md") | safe }}">    -->



<head>
  <meta charset="utf-8">
  <title>Wandering</title>
</head>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>