{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ get_url(path="global.css") | safe }}">
<h1 class="title">
  {{ page.title }}
</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>
{% if page.date %}
  {{ trans(key="label_created",lang=lang) }}:&nbsp;
  <time class="dt-published published" datetime="{{ page.date }}">{{ page.date | date(format="%Y.%m.%d") }}</time>
{% endif %}
{% if page.updated and page_date != page_updated %}
  · {{ trans(key="label_updated",lang=lang) }}:&nbsp;
  <time class="dt-updated updated" datetime="{{ page.updated }}">{{ page.updated | date(format="%Y.%m.%d") }}</time>
{% endif %}
{{ page.content | safe }}
{% endblock content %}